.outletContainer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: fit-content;
}

@media (min-width: 1024px) {
	.outletContainer {
		padding: 20px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.outletContainer {
		padding: 15px;
	}
}

@media (max-width: 767px) {
	.outletContainer {
		padding: 10px;
	}
}
