.imageContainer {
	min-width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.imageInnerContainer img {
	width: 20rem;
	height: 28rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.imageInnerContainer img {
		width: 15rem;
		height: 20rem;
	}
	.imageContainer {
		gap: 0.8rem;
	}
}


@media (max-width: 767px) {
	.imageContainer{
		max-width: 100%;
	}
	.imageInnerContainer img {
		width: 7.5rem;
		height: 11rem;
	}
	.imageContainer {
		gap: 0.5rem;
	}
}
